.testimonial{
    width: 395px;
    height: 445px;
    background: rgba(28, 39, 63, 0.68);
    border: 2px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(14.5px);
    /* Note: backdrop-filter has minimal browser support */
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 15px;
    padding: 2rem;
    gap: 2rem;
    height: max-content;
    & h1{
        font-size: 2rem;
        font-weight: bolder;
    }

    & p{
        font-weight: lighter;
        font-size: 20px;
        line-height: 2rem;
    }
}