.body{
    width: 100%;
    height: max-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    &__category{
     min-width: 311px;
     height: 100%;
     background-image: url("../../assets/png/testimonialbg.png");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;

     display: flex;
     flex-direction: column;

     &__wrapper{
         display: flex;
         flex-direction: column;
         gap: 2rem;
         position: sticky;
         top: 0;
         padding: 4rem 0;

     }
    }
    &__items{
        position: relative;
        width: 100%;
        height: max-content;
        padding: 4rem;
        display: flex;
        justify-content: center;
        gap: 6rem;
        flex-wrap: wrap;
    }

}