.body{
    width: 100%;
    height: max-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    &__category{
     min-width: 311px;
     height: 59rem;
     background-image: url("../../assets/png/testimonialbg.png");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     position: sticky;
     top: 0;

     display: flex;
     flex-direction: column;
     gap: 2rem;
     padding: 4rem 0;
    }
    &__items{
        position: relative;
        width: 100%;
        height: max-content;
        padding: 4rem;
        display: flex;
        justify-content: center;
        gap: 6rem;
        flex-wrap: wrap;
    }

}