.banner{
    width: 100%;
    min-height: 12rem;
    background-image: url('../../assets/png/productsBanner.png');
    background-position: center;
    margin-top: 90px;
    display: grid;
    place-items: center;
    color: white;
    font-size: 7rem;
    font-weight: bolder;
    letter-spacing: 2px;
}