.card{
    width: 269px;
    height: 455px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(222, 222, 222, 0.2), -10px -10px 20px rgba(222, 222, 222, 0.2), 10px -10px 20px rgba(255, 255, 255, 0.9), -10px 10px 25px rgba(222, 222, 222, 0.9), inset -1px 1px 2px rgba(255, 255, 255, 0.3), inset 1px -1px 2px rgba(222, 222, 222, 0.5);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 22px;
    &__image{
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
    &__info{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & h1{
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            color: black;
        }
        & p{
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            color: #A9A9A9;
        }

        &__cta{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            & h2{
                font-size: 1.5rem;
                font-weight: bolder;
            }
        }
    }
}